build \
  --copt=-Wno-parentheses \
  --copt=-Wno-sign-compare \
  --copt=-Wno-misleading-indentation \
  --copt=-Wno-narrowing \
  --strict_proto_deps=off \
  --cxxopt=-std=c++20 \
  --host_cxxopt=-std=c++20
